@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root{
    --primary-color: #60A5FA;
}
::placeholder{
  color: #ffffff;
}

body{
  background-color: var(--primary-color);
  font-family: "Raleway","sans-serif";
  background: linear-gradient(90deg,var(--primary-color) 50%,#ffffff 50%)
} 
.header{
  margin: 9px 0 30px  600px;
  font-size: xx-large;
  font-weight: bolder;
  color: #ffffff;
  display: inline-block;
}
.header-right{
  margin: 9px 0 30px 450px;
  display: inline-block;
  font-size: xx-large;
  font-weight: bolder;
  color: var(--primary-color);
}
.section-left{
  color: #ffffff;
  font-size: x-large;
  font-weight: bolder;
  margin: 0 100px 0% 700px;
  display: inline-block;
}

.section-right{
  color: #ffffff;
  font-size: x-large;
  font-weight: bolder;
  margin: 0 0 100px 450px;
  display: inline-block;
  color: var(--primary-color);
}
#txtInput{
  background-color: var(--primary-color);
  font-family: inherit;
  font-weight: bolder;
  width: 30%;
  border: none;
  color: white;
  font-size: x-large;
  text-align: center;
  margin: 0 0 0 5%;
  resize: none;
  outline: none;
  padding: 0 0 10% 0;
  box-sizing: border-box;
}

#btntranslate{
  background-color:var(--primary-color);
  border-radius: 50%;
  padding: 20px;
  display: inline-block;
  margin: 0% 0% 0% 48%;
  border: none;
  color: #ffffff;
  box-shadow: 0 0.5px #ffffff;
  cursor: pointer;
  outline: none;
}
#btntranslate:active{
  background-color: var(--primary-color);
  box-shadow: 0 1px #666666;
  transform: translateY(1px);
}
#txtOutput{
  background-color: #ffffff;
  border:1px solid #ffffff;
  width: 10%;
  margin: 2% 0 0 70%;
  padding: 15% 0 0 2%;
  box-sizing: border-box;
  min-height: 10vh;
  color: var(--primary-color);
  font-size: x-large;
  font-weight: bolder;
}

@media screen and (max-width:600px){
  .header{
    margin: 9px 0 30px 70px;
  }
  .header-right{
    margin: 9px 0 60px 30px;
  }
  .section-left{
    margin: 0 10px 0 90px;
  }
  .section-right{
    margin: 0 0 10px 80px;
  }
  #txtInput{
    margin: 0 0 0 10px;
    padding: 0 0 5% 0;
    width: 40%;
  }
  #txtOuput{
    margin: 8% 0 0 70%;
    padding: 7% 0 0 2% ;
    display: inline-block;
  }
  #btntranslate{
    margin: 0 0 0 170px;
  }
}